@tailwind base;
@tailwind utilities;
@tailwind components;

html,
body {
  background-color: #1e293b;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
